*.pyc
__pycache__/
db.sqlite3
.env
venv/
env/
.venv/
*.log
media/
staticfiles/

# Python (extra)
.eggs/
pip-wheel-metadata/
share/python-wheels/
.tox/
.nox/
.mypy_cache/
.ruff_cache/
.pytype/
.pyrightcache/
.python-version
.ipynb_checkpoints/

# Coverage (extra)
.coverage.*
coverage.xml
htmlcov/
.pytest_cache/
